<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bug Form</title>
  <link rel="stylesheet" href="dashboardStyles.css">
</head>
<body>
<h2>Bug Form</h2>
<h4>* fields are required</h4>
    <form id="bugForm">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="bug_type">* Bug type:</label>
      <select name="bug_type" id="bug_type">
        <option value="functional">Functional</option>
        <option value="security">Security</option>
        <option value="aesthetic">Aesthetic</option>
        <option value="other">Other</option>
      </select>
      <br>
      <label for="bug_description">* Bug description:</label>
      <input type="text" id="bug_description" name="bug_description" required>
      <br>
      <label for="file">File:</label>
      <input type="text" id="file" name="file">
      <br>
      <label for="line">Line:</label>
      <input type="text" id="line" name="line">
      <br>
      <label for="priority">* Priority: [low, medium, or high]</label>
      <select name="priority" id="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
      <br>
      <label for="status">* Status:</label>
      <select name="status" id="status">
        <option value="pending">Pending</option>
        <option value="working">Working</option>
        <option value="completed">Completed</option>
        <option value="rejected">Rejected</option>
      </select>
      <br>
      <label for="project_id">* Project ID:</label>
      <input type="text" id="project_id" name="project_id" required>
      <br>
      <label for="fixer_notes">Fixer Notes:</label>
      <input type="text" id="fixer_notes" name="fixer_notes">
      <br>
      <label for="reason">Reason:</label>
      <input type="text" id="reason" name="reason">
      <br>
      <button type="button" onclick="submitForm()">Submit</button>
    </form>
</body>
    <script src="updateBugsTable.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', async function () {
        // Extract bug_id from URL parameters
        const urlParams = new URLSearchParams(window.location.search);
        const bug_id = urlParams.get('bug_id');

        // Call the getBugById function if bug_id is available
        if (bug_id) {
          const response = await fetch(`http://localhost:3000/bugs/${bug_id}`)
          let bugData = await response.json();
          bugData = bugData[0]
          console.log(bugData);

          // Check if bugData is not null and set form values
          if (bugData) {
            const form = document.getElementById('bugForm');
            const bugTypeValue = bugData.bug_type;
            const bugTypeSelect = document.getElementById('bug_type');
            const priorityValue = bugData.priority;
            const prioritySelect = document.getElementById('priority')
            const statusValue = bugData.status;
            const statusSelect = document.getElementById('status')
            console.log(bugData.bug_type);

            // Set values for each form field
            for (var i = 0; i < bugTypeSelect.options.length; i++) {
              if (bugTypeSelect.options[i].value === bugTypeValue) {
                bugTypeSelect.options[i].selected = true;
                break;
              }
            }
            form.elements['bug_description'].value = bugData.bug_description || '';
            form.elements['file'].value = bugData.file || '';
            form.elements['line'].value = bugData.line || '';
            for (var i = 0; i < prioritySelect.options.length; i++) {
              if (prioritySelect.options[i].value === priorityValue) {
                prioritySelect.options[i].selected = true;
                break;
              }
            }
            for (var i = 0; i < statusSelect.options.length; i++) {
              if (statusSelect.options[i].value === statusValue) {
                statusSelect.options[i].selected = true;
                break;
              }
            }
            form.elements['status'].value = bugData.status || '';
            form.elements['project_id'].value = bugData.project_id || '';
            form.elements['fixer_notes'].value = bugData.fixer_notes || '';
            form.elements['reason'].value = bugData.reason || '';
          }
        }
      });
    </script>
</html>