<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Form</title>
  <link rel="stylesheet" href="dashboardStyles.css">
</head>
<body>
<h2>Project Form</h2>
<h4>* fields are required</h4>
    <form>
      <label for="user_id">* Your user id:</label>
      <input type="text" id="user_id" name="user_id" required>
      <br>
      <label for="name">* Project name:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <button type="button" onclick="submitForm()">Submit</button>
    </form>
</body>
<script src="updateProjectsTable.js"></script>
</html>