<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Form</title>
  <link rel="stylesheet" href="dashboardStyles.css">
</head>
<body>
<h2>User Form</h2>
<h4>* fields are required</h4>
    <form id="userForm">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="username">* Your username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">* Password:</label>
      <input type="text" id="password" name="password" required>
      <br>
      <button type="button" onclick="submitForm()">Submit</button>
    </form>
</body>
<script src="updateUsersTable.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', async function () {
    // Extract user_id from URL parameters
    const urlParams = new URLSearchParams(window.location.search);
    const user_id = urlParams.get('user_id');

    // Call the getuserById function if user_id is available
    if (user_id) {
      const response = await fetch(`http://localhost:3000/users/${user_id}`)
      let userData = await response.json();
      userData = userData[0]
      console.log(userData);

      // Check if userData is not null and set form values
      if (userData) {
        const form = document.getElementById('userForm');
        console.log(userData.username);

        // Set values for each form field
        form.elements['username'].value = userData.username;
      }
    }
  });
</script>
</html>