<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bug Bridge</title>
  <link rel="stylesheet" href="dashboardStyles.css">
</head>
<body>
<h2>User Form</h2>
<h4>* fields are required</h4>
    <form>
      <label for="username">* Your username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">* Password:</label>
      <input type="text" id="password" name="password" required>
      <br>
      <button type="button" onclick="submitForm()">Submit</button>
    </form>
</body>
<script src="updateUsersTable.js"></script>
</html>